.col-3{
    background-color: darkseagreen;
}

.col-9{
    background-color: deepskyblue;
}
.dark{
    color:white;
}

.dark .col-3{
    background-color:#161958
}

.dark .col-9{
    background-color:#3b1149
}
