<div class="container">
  <div class="row mt-2">
    <div class="col-3 py-1">
        {{myWisdom}}
    </div>
    <div class="col-9 py-1">
        {{n}}
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-2">
    <div class="col-3 py-1">
        <p>{{dog.name}}</p>
        <p>{{dog.dogInfo()}}</p>
        <img class="img-fluid" src="{{dog.imgUrl}}">
    </div>
    <div class="col-9 py-1">
      <ul>
        <li *ngFor="let m of hateList">{{m}}</li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-2">
    <div class="col-3 py-1">
        <p *ngFor="let f of friends">{{f.name}} - {{f.occupation}} <span *ngIf="f.occupation === 'Artiste ASMR'">😳</span> </p>
    </div>
    <div class="col-9 py-1">
      <form>
        <input type="text" name="sonNom" [(ngModel)] = "name">
        <input type="text" name="sonOccupation" [(ngModel)] = "occupation">
        <button type="submit" (click)="addFriend(name,occupation)">Ajouter l'ami</button>
      </form>
        <button type="submit" (click)="removeFriend()">Retirer le dernier ami</button>

    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-2 {{darkMode ? ' dark': ''}}">
    <div class="col-3 py-1">
        <button *ngIf="darkMode === false" type="submit" (click)="toggleMode()">🔅</button>
        <button *ngIf="darkMode === true" type="submit"(click)="toggleMode()">🌙</button>
    </div>
    <div class="col-9 py-1">
        <p>Thème </p>
    </div>
  </div>
</div>